.carousel {
    margin-left: 10%;
    margin-right: 10%;
    background: transparent;
    padding-bottom: 70px;
}

.cards-container {
    margin-top: 20px;
    height: 100px;
    background: transparent;
}

.carousel-container {
    background: transparent;
}

.card {
    width: 40%;
    height: 35%;
    margin-right: 100px;
    cursor: pointer;
    background: transparent;
}

.card-img {
    display: none;
    background: transparent;
}

.card-text {
    font-family: 'Times New Roman', Times, serif;
    background: transparent;
}

.card-title {
    font-size: 30px;
    font-weight: 300;
    align-self: center;
    background: transparent;
}

.card-summary {
    display: none;
    background: transparent;
}

.card-button {
    background-color: #000;
    color: #fff;
    font-weight: 30px;
    width: 100px;
    height: 40px;
    border-style: none;
}

