.side-bar {
    height: 120%;
    width: 15%;
    display: flex;
    flex-direction: column;
    border-left-style: solid;
    border-left-width: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 0%;
    justify-content: center;
    background-color: #1d2634;
}

.Admin-frame {
    align-content: center;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.wlc {
    font-size: 12px;
    color: aliceblue;
    background: transparent;
    align-self: center;
}

.tab-container {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    background: transparent;
    height: 80%;
    width: 100%;
}

.home-tab,
.data-tab,
.article-tab,
.payment-tab,
.logout-tab {
    display: flex;
    flex-direction: row;
    background: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 0%;
    border-radius: 5px;
    
}

.home-tab:hover,
.data-tab:hover,
.article-tab:hover,
.payment-tab:hover,
.logout-tab {
    background-color: #3f5270;
}

.home-tab-active,
.data-tab-active,
.article-tab-active,
.payment-tab-active,
.logout-tab-active {
    display: flex;
    flex-direction: row;
    background: transparent;
    margin: 20px;
    background-color: #3f5270;
}

.home-icon,
.data-icon,
.article-icon,
.payment-icon,
.logout-icon {
    background: transparent;
    color: rgb(211, 210, 210);
}

.home-label,
.data-label,
.article-label,
.payment-label,
.logout-label {
    background: transparent;
    color: rgb(211, 210, 210);
}

.home-txt,
.data-txt,
.article-txt,
.payment-txt,
.logout-txt {
    background: transparent;
    color: rgb(211, 210, 210);
    text-decoration: none;
    font-size: 15px;
}

.home-txt:hover,
.data-txt:hover,
.article-txt:hover,
.payment-txt:hover,
.logout-txt:hover {
    color:aliceblue;
}

.logout-tab {
    padding-top: 120%;
    display: flex;
    flex-direction: row;
    background: transparent;
    margin: 20px;
    border-radius: 5px;
}