.article {
    display: block;
}

.cover-img-frame {
    width: 100%;
    overflow: hidden;
}

.cover-img {
    width: 100%;
    display: block;
    object-fit: cover;
    height: 100vh;
}

.body {
    line-height: 2;
    white-space: pre-line;
}
