.constent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Add any other necessary styles for the parent container */
}

.promo {
    justify-content: space-between; /* Distribute space between children */
    align-items: center;
    align-self: auto;
}